# Python
__pycache__/
*.py[cod]

# EZScore secrets
.streamlit/secrets.toml

# Local/runtime EZScore data
#data/EZScore.sqlite3
data/audio/
data/covers/
data/analysis/stems/
data/analysis/stem_lab/
#data/logs/


